.showhint {
    border-bottom: 3px ridge;
    margin-bottom: 2%;
}

.idresolver_form {
    margin-top: 2%;
}

.idresolver_search {
    vertical-align: text-bottom;
}

#resolverInput {
    width: 80%;
}

.inputlabel {
    margin-right: 4.5%;
}

.search {
    width: 100%;
}

.input {
    width: 100%;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:30px 0px 0px 0px;
    padding: 20px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin: auto ;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.media-body {
    margin-left: 5%;
}

.steps {
    margin-bottom: 10px;
}

.hidden { display:none; }

.node circle {
	fill: rgb(247, 106, 214);
	stroke: rgb(184, 37, 81);
	stroke-width: 1.5px;
}

.node text {
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: black;
	fill: black;
}

.node {
	cursor: pointer;
}

path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

.homeCard img {
    height: 30vh !important;
}

.homeCard {
    width: 80% !important;
}

.intro h1 {
    font-size: 2.5rem;
}
.intro p {
    font-size: 1.5rem;
}

.feature {
    margin-bottom: 2rem;
}

.modal .description {
    margin: 2rem;
}

.logButton {
    margin-bottom: 1rem !important;
}

.emptyQueryResult {
    color: red;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 2rem;
    margin-bottom: 10rem;
    margin-top: 10rem;
}